{% extends "./base.html" %}
{% block main %}

<div class="section section-presentation-page">
    <div class="parallax filter filter-color-red">
        <div class="image" style="background-image:url('assets/img/header-4.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <p><span>BopiBopi </span></p>
                <h1 class="title-modern">피싱 탐지 시스템</h1>
                <div class="separator">♦</div>
                <h3>Probably the most stylish bootstrap template in the world!</h3>
                
                </div>
            </div>
        </div>
    </div>

{% comment %} <div class="row">
        <div class="col-md-6">
            <div class="card card-blog">
                <a href="#gaia" class="header">
                    <img src="../assets/img/header-6.jpeg" class="image-header">
                </a>
                <div class="content">
                    <h6 class="card-date">Feb 17</h6>
                    <a href="#gaia" class="card-title">
                        <h3>Nature &amp; The Catch of the Day</h3>
                    </a>
                    <div class="line-divider line-danger"></div>
                    <h6 class="card-category">Nature</h6>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="section">
            <div class="container">        
                <div class="row">
                    <div class="col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-car"></i>
                            </div>
                            <h3>전화(음성)</h3>
                            <p class="description">의심되는 음성을 업로드해주세요</p>
                        </div>

                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-car"></i>
                            </div>
                            <h3>문자 / 메일</h3>
                            <p class="description">의심되는 문자나 메일을 업로드해주세요</p>
                        </div>

                        <div class="card card-blog">
                            <a href="blog-posts.html" class="header">
                                {% comment %} <img src="../assets/img/header-7.jpeg" class="image-header"> {% endcomment %}
                            </a>
                            <div class="content">
                                <a href="blog-posts.html" class="card-title"><h3>전화</h3></a>
                                <h6 class="card-category text-warning">Life Tips &amp; Tricks</h6>
                                <p class="text-description text-gray">의심되는 음성 조회하기</p>
                            </div>
                        </div>

                        <div class="card card-blog">
                            <a href="blog-posts.html" class="header">
                                {% comment %} <img src="../assets/img/header-7.jpeg" class="image-header"> {% endcomment %}
                            </a>
                            <div class="content">
                                <a href="blog-posts.html" class="card-title"><h3>문자 / 메일</h3></a>
                                <h6 class="card-category text-warning">Life Tips &amp; Tricks</h6>
                                <p class="text-description text-gray">의심되는 문자 / 메일 조회하기</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

</div>

{% comment %} <div class="section section-our-clients">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Here are some of</h5>
            <h2>Our Premium Clients</h2>

            <div class="separator separator-danger">∎</div>
            </div>

        <ul class="nav nav-text list-logos list-logos-danger" role="tablist">
            <li class="active">
                <a href="#testimonial1" role="tab" data-toggle="tab">
                    <div class="client-logo">
                        <i class="fa fa-apple"></i>
                        <h3>Apple</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial2" role="tab" data-toggle="tab">
                    <div class="client-logo">
                        <i class="fa fa-dropbox"></i>
                        <h3>Dropbox</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial3" role="tab" data-toggle="tab">
                    <div class="client-logo">
                        <i class="fa fa-windows"></i>
                        <h3>Microsoft</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial4" role="tab" data-toggle="tab">
                    <div class="client-logo">
                        <i class="fa fa-skype"></i>
                        <h3>Skype</h3>
                    </div>
                </a>
            </li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                    And I used a period because contrary to popular belief I strongly dislike exclamation points! We no longer have to be scared of the truth feels good to be home In Roman times the artist would contemplate proportions and colors. Now there is only one important color... Green I even had the pink polo I thought I was Kanye I promise I will never let the people down. I want a better life for all!
                </p>
            </div>
            <div class="tab-pane" id="testimonial2">
                <p class="description">Green I even had the pink polo I thought I was Kanye I promise I will never let the people down. I want a better life for all! And I used a period because contrary to popular belief I strongly dislike exclamation points! We no longer have to be scared of the truth feels good to be home In Roman times the artist would contemplate proportions and colors. Now there is only one important color...
                </p>
            </div>
            <div class="tab-pane" id="testimonial3">
                <p class="description"> I used a period because contrary to popular belief I strongly dislike exclamation points! We no longer have to be scared of the truth feels good to be home In Roman times the artist would contemplate proportions and colors. The 'Gaia' team did a great work while we were collaborating. They provided a vision that was in deep connection with our needs and helped us achieve our goals.
                </p>
            </div>
            <div class="tab-pane" id="testimonial4">
                <p class="description">The 'Gaia' team did a great work while we were collaborating. They provided a vision that was in deep connection with our needs and helped us achieve our goals. We couldn't thank the 'Gaia' team enough for their excellent service. We had an wonderful time developing the plans for our new office building and we can tell you that our employees felt at home since the first day they moved here.
                </p>
            </div>
        </div>

    </div>
</div> {% endcomment %}

{% endblock %}