{% extends "./base.html" %}
{% block main %}

<div class="section section-presentation-page">
    <div class="parallax filter filter-color-blue">
        <div class="image" style="background-image:url('assets/img/header-4.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <p><span>BopiBopi</span></p>
                <h1 class="title-modern">피싱 탐지 시스템</h1>
                <div class="separator">♦</div>
                <h3>보이스피싱을 당했다면?</h3>
                <button href="/victim_guide/" class="btn btn-fill btn-lg" onclick="location.href='/victim_guide/'" >대응방법 안내받기</button>      
                </div>
            </div>
        </div>
    </div>

        <div class="section">
            <div class="container-fluid">        
                <div class="row">
                    <div class="col-md-6">
                            <div class="card card-blog">
                                <a href='/call/'>
                                    <div class="content">
                                        <div class="icon text-info">
                                            <i class="pe-7s-call"></i>
                                        </div>
                                        <a href="/call/" class="card-title">
                                            <h3>전화</h3>
                                            <hr>
                                            <p class="text-description text-gray">의심되는 전화 조회하기</p>
                                        </a>
                                    </div>
                                </a>
                            </div>
                    </div>
                        

                        <div class="col-md-6">
                            <div class="card card-blog">
                                <a href="/mail/">
                                    <div class="content">
                                        <div class="icon text-info">
                                            <i class="pe-7s-mail"></i>
                                        </div>
                                        <a href="/mail/" class="card-title"><h3>문자 / 메일</h3>
                                        <hr>
                                        <p class="text-description text-gray">의심되는 문자 / 메일 조회하기</p>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                        <div class="col-md-6">
                            <div class="card card-blog">
                                <a href="/number_search/">
                                    <div class="content">
                                        <div class="icon text-info">
                                            <i class="pe-7s-phone"></i>
                                        </div>
                                        <a href="blog-posts.html" class="card-title"><h3>번호 조회</h3>
                                        <hr>
                                        <p class="text-description text-gray">의심 전화번호 / 계좌번호 조회하기</p>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card card-blog">
                                <a href="/rel_org/">
                                    <div class="content">
                                        <div class="icon text-info">
                                            <i class="pe-7s-info"></i>
                                        </div>
                                        <a href="/rel_org/" class="card-title"><h3>유관기관</h3>
                                        <hr>
                                        <p class="text-description text-gray">관련 기관 정보</p>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                </div>

            </div>
        </div>

</div>

{% endblock %}