{% extends "./base.html" %}
{% block main %}
<!-- 전체 폰트 조정하기 -->
<div class="section section-contact">
    <div class="container">
        <div class="text-area">
            <div class="title">
                <h1 id='NSK'>의심 번호 조회</h1>
                <div class="separator separator-info">✻</div>
                <h5 id="NSK" class="text-gray">의심되는 전화번호, 계좌번호를 입력해주세요.</h5>
            </div>

        <div class="contact-form">
            <form action="{% url 'phishing:number_search' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 col-md-push-4">
                        <div class="form-group">
                            {% comment %} 제출 시 입력값이 반드시 있어야 함 {% endcomment %}
                            <input type="text" id="search_number" name="search_number" value="{{ search_number }}" placeholder="010-1234-5678, 000-000-00000" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-fill btn-info">
                            <h3 id="NSK">입력</h3>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}