{% extends "./base.html" %}
{% block main %}

  {% load static %}

  <!-- 전체 폰트 조정하기 -->
  <div class="section section-contact">
    <div class="container">
      <div class="text-area">
        <div class="title">
          <audio controls="controls">
            <source src="{% static 'number_search_html.mp3' %}" type="audio/mpeg">
            number_search_html.mp3
          </audio>

          <h2 id='NSK'>의심 번호 조회</h2>
          <div class="separator separator-info">✻</div>
          <h5 id="NSK" class="text-gray">의심되는 전화번호, 계좌번호를 입력해주세요.</h5>
        </div>

        <div class="contact-form">
          <form action="" method="post">
            <div class="row">
              <div class="col-md-4 col-md-push-4">
                <div class="form-group">
                  <input type="text" name="email" value="" placeholder="010-1234-5678, 000-000-00000" class="form-control" id="phoneInput1">
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-fill btn-info" id="checkButton">
                  <h3 id="NSK">입력</h3>
                </button>
              </div>
            </div>
          </form>
        </div>

        <script>
          const phoneInput1 = document.getElementById("phoneInput1");

          checkButton.addEventListener("click", function () {
            const phone1Value = phoneInput1
              .value
              .replace(/[^0-9]/g, "");

            if (phone1Value.length < 10 || phone1Value.length >= 15) {
              alert("잘못 입력하셨습니다. 번호를 다시 확인해 주세요");
            } else {
              const resultDisplay = document.querySelector("h5.text-gray");
              resultDisplay.textContent = `입력하신 "${phone1Value}"에 대한 조회 결과입니다.`;
            }
          });
        </script>

      </div>
    </div>
  </div>

{% endblock %}