{% extends "./base.html" %}
{% block main %}
<div class="section section-contact">
    <div class="container">
        <div class="text-area">
            <div class="title">
                <h2 id='font_mod'>피싱 피해 신고처</h2>
                <div class="separator separator-info">✻</div>
            </div>

            <div class="section section-cards">
                <div class="container-fluid">
                    <!-- <div class="">

                    </div> -->
                        <!-- <div class="header-faq text-center"> -->

                        <!-- 금융기관 리스트 -->
                        <h2>금융기관</h2>
                        <div class="line-divider line-info"></div>
                            <!-- <div class="separator separator-info">✻</div> -->
                        <!-- </div> -->
                        <br>
                        <div class="row">
                            <div>
                                {% for org in orgs_list %}
                                    {% if "국번" not in org.call %}
                                        <div class="col-sm-6">
                                            <a href="{{ org.url }}">
                                                <div class="card card-price">
                                                    <br>
                                                    <h3 class="title-header text-info">{{ org.name }}</h3>
                                                    <p class="text-description text-gray">{{ org.call }}</p>
                                                    <br>
                                                </div>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <br>
                        <hr>
                        <!-- 수사기관 리스트 -->
                        <h2>수사 및 신고 기관</h2>
                        <div class="line-divider line-info"></div>
                        <br>
                        <div class="row">
                            <div>
                                {% for org in orgs_list %}
                                    {% if "국번" in org.call %}
                                        <div class="col-sm-6">
                                            <a href="{{ org.url }}">
                                                <div class="card card-price">
                                                    <br>
                                                    <h3 class="title-header text-info">{{ org.name }}</h3>
                                                    <p class="text-description text-gray">{{ org.call }}</p>
                                                    <br>
                                                </div>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}