{% extends "./base.html" %}
{% block main %}
<div class="section section-contact">
    <div class="container">
        <div class="text-area">
            <div class="title">
                <h1 id="NSK">정밀검사 중</h1>
                <div class="separator separator-info">✻</div>
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <br>
                <br>
                {% comment %} 중지해서 홈으로 이동 {% endcomment %}
                <button href="/" class="btn btn-fill btn-lg" onclick="location.href='/'" ><h3 id="NSK">중지하기</h3></button>
            </div>
                
        </div>
    </div>
    
</div>
{% endblock %}