{% extends "./base.html" %}
{% block main %}
<!-- 피해 시 조치사항 카테고리 형식으로 추가 -->
<div class="section section-contact">
    <div class="container">
        <div class="text-area">
            <div class="title">
                <h2 id='font_mod'>피해 시 대응방법 안내</h2>
                <div class="separator separator-info">✻</div>
                {% comment %} <h5 class="text-gray">원하는 항목을 선택해주세요.</h5> {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% comment %} <div class='carousel slide'>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class='image'>

            </div>
        </div>
    </div>
</div> {% endcomment %}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">이전</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">다음</span>
    </button>
  </div>
{% endblock %}