.fixed-nav-section {
    /* size of fixed-nav */
    position: relative;
    top: 70px;
}

.section-presentation-page .home-container { 
    height:initial ;
}


 .section-presentation-page .content{
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    
 }




 .section-presentation-page .separator {
    color: #00abc0;
    margin: 30px auto;
  }


  .navbar .navbar-nav > li > a.btn-danger.btn-fill {
    color: #FFFFFF;
    background-color: #00abc0;

  }




.section-presentation-page .content {
    position: relative;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

/* 
.section-presentation-page .parallax {
  height: 70vh;
  min-height: 100vh;
} 
 */

 
 
 .navbar .navbar-nav > li > a.btn-danger.btn-fill {
  color: #FFFFFF;
  background-color: black;
 }
